$font-family: "Source Sans Pro", sans-serif;

$active-opacity: 1;
$inactive-opacity: 0.15;

$white: #fff;
$black: #000;

$dark-background: #064635;

$weeks-colors: #519259, #F0BB62, #F4EEA9, #27cd40;
$booked-color: #519259;
$danger-color: #ee5253;
$error-color: #f67e0e;
$confirm-color: #44ac10;

$spacing: 2rem;